/** @format */

img {
  width: 100%;
}

.logo {
  width: 300px;
  display: flex;
  justify-self: center;
}

.cart {
  width: 50px;
  display: flex;
  justify-self: end;
}

/*kode til burgermenu */
.banner {
  padding: 2rem;
  /* lav et grid af header*/
  display: grid;
  /* få logo til at fylde 300px*/
  grid-template-columns: 1fr minmax(0, 300px) 1fr;
}

/*fjern list style*/
.main-menu ul {
  list-style: none;
}

/* burgermenu */
.toggle-btn {
  border: none;
  width: 60px;
  cursor: pointer;

  background-color: #f2c4ab;
  justify-self: start;

  position: fixed;
}

.toggle-btn {
  display: block; /* Vis knappen */
}

@media (max-width: 600px) {
  .main-menu ul {
    display: none;
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    width: 50px;
    display: flex;
    justify-self: start;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 200px;
    display: flex;
    justify-self: center;
  }

  .cart {
    width: 40px;
    display: flex;
    justify-self: end;
  }
}

.main-menu ul {
  display: none; /* Fjern menu-listen som standard */
  padding: 67px;
}

.main-menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  padding-top: 5.2rem;
  display: flex;
  flex-flow: column;
  justify-self: center;

  margin-left: 97px;
  margin-top: -15px;

  background-image: url(billeder/menu_baggrund.png);
  background-size: cover;
  width: 100px;
  aspect-ratio: 1/1;
  position: fixed;
}

@media (max-width: 600px) {
  .main-menu.shown ul {
    padding-top: 5.2rem;
    display: flex;
    flex-flow: column;
    justify-self: center;

    margin-left: -21px;
    margin-top: 67px;

    background-image: url(billeder/menu_baggrund.png);
    background-size: cover;
    width: 100px;
    aspect-ratio: 1/1;
    position: fixed;
  }
}

.video img {
  grid-area: 1 / 1;
}

.video {
  grid-column: 2;

  display: grid;
}

.shop_btn {
  width: 130px;
  margin-left: 1000px;
  margin-top: -57px;
}

.content_1 {
  background-image: url(billeder/background_yellow.png);
  height: 63vh;
  width: 100%;
  background-size: cover;
  margin-top: 30px;
}

.content_1 h1 {
  padding-left: 550px;
  padding-top: 100px;
  font-family: Open Sans;
  font-size: 2rem;
  color: #fc49b8;
  font-weight: bold;
}
.content_1 p {
  padding-left: 450px;
  padding-top: 10px;
  font-family: Open Sans;
  font-size: 2rem;
  color: #fc49b8;
}

.content_1 img {
  width: 300px;
  position: absolute;
  left: 1000px;
  top: 1000px;
}

.social_media {
  background-image: url(billeder/nipples.png);

  height: 30vh;
  background-size: cover;
  margin-top: 120px;
}

.content_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.media img {
  width: 300px;
  margin-left: 180px;
}

.text img {
  width: 200px;
}

.text {
  font-family: open sans;
  color: white;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: bold;
}
