/**
 * /* ************ main **************
 *
 * @format
 */

section img {
  width: 100%;
  border-radius: 41px;
}
section {
  margin: 38px;
}
h1 {
  justify-self: center;
  text-align: center;
  font-family: var(--font);
  color: #aa0f56;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 40px;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #aa0f56;
  font-family: var(--font);
  margin-top: 20px;
}
p {
  font-family: var(--font);
  color: #aa0f56;
  word-spacing: 0.2rem;
  font-size: 1.1rem;
  line-height: 25px;
  margin: 10px;
}

/************ knap ***********/
.knap_produkt {
  border-radius: 51px;
  width: 168px;
  height: 65px;
  display: inline-block;
  cursor: pointer;
  background-color: var(--pinkknap);

  color: white;
  text-align: center;
  font-family: var(--font);
  font-size: large;
}
.knap_produkt:hover {
  box-shadow: 0 2px 10px 0 var(--hoverknapbg);
}
.knap_produkt:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 3px var(--activeknapshadow);
  transform: translateY(3px);
}
/* ************ main ************** */
@media (min-width: 800px) {
  section {
    margin: 20px;
  }
  section img {
    width: 70%;
    border-radius: 41px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
  }
  .vare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
  }
  .vare_img_container {
    text-align: center;
  }
  .info_container {
    display: grid;
    justify-content: center;
    background-color: #fad9c7;
    border: 1px solid black;
  }
}

@media (max-width: 800px) {
  section {
    margin: 20px;
  }
  section img {
    width: 60%;
    border-radius: 41px;
  }
  .vare_img_container {
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
  }
  .vare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
  }
  .knap_produkt {
    margin: 10px;
  }
  .info_container {
    display: grid;
    justify-content: center;
    background-color: #fad9c7;
    margin: 0px 50px 20px 50px;
    border: 1px solid black;
  }
}

@media (max-width: 550px) {
  .container {
    display: unset;
    margin: 20px;
  }
  .vare {
    display: unset;
  }
  .vare_beskrivelse {
    text-align: center;
  }
}
