/** @format */
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

body {
  background-color: #f2c4ab;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 300px;
  display: flex;
  justify-self: center;
}

.cart {
  width: 50px;
  display: flex;
  justify-self: end;
  margin-right: 1%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}

/* burgermenu */
label .menu {
  position: fixed;
  left: -40px;
  top: -40px;
  z-index: 1;
  width: 130px;
  height: 130px;
  background-color: #6eaaf6;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
label .hamburger:before { top: -5px; }
label .hamburger:after { bottom: -5px; }
label input:checked + .menu {
  background-color: #f2c4ab;
  box-shadow: 0 0 0 100vw #6eaaf6, 0 100vh #6eaaf6;
}

label input:checked + .menu + ul { 
  opacity: 1; 
  position: fixed;
}

label ul {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 20%;
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}
label a {
  margin-bottom: 1em;
  display: block;
  font-family:'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 1.2rem;
}

footer {
  background-color: #6eaaf6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

footer img {
  width: 100px;
}

.logo_footer {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 5px;
}

.kontakt {
  color: white;
  padding-right: 40px;
  font-size: 0.7rem;
  font-family: open + sans;
  grid-column-start: 3;
  grid-column-end: 4;
  padding-left: 130px;
  padding-top: 5px;
}
@media (max-width: 600px) {
  .logo {
    width: 200px;
    display: flex;
    justify-self: center;
  }
  .cart {
    width: 40px;
    display: flex;
    justify-self: end;
  }
}

@media (min-width: 900px) {
  footer {
    background-color: #6eaaf6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  footer img {
    width: 300px;
  }

  .logo_footer {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 100px;
    padding-top: 5px;
  }

  .kontakt {
    color: white;
    padding-right: 40px;
    font-size: 1.5rem;
    font-family: open + sans;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 170px;
    padding-top: 20px;
  }
}
