
section {
  margin: 38px;
}
section img {
  width: 100%;
  border-radius: 41px;
}
section img:hover {
  box-shadow: 0 2px 10px 0 #FFFAD3;
  opacity: 60%;
}
section img:active {
  background-color: #AA0F56;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
  opacity: 60%;
}
h1 {
  font-size: 2rem;
  text-align: center;
  color: #AA0F56;
  font-family:'Courier New', Courier, monospace;
}
/************ knap ***********/
.knap_produkt {
  border-radius: 51px;
  width: 168px;
  height: 65px;
  display: inline-block;
  cursor: pointer;
  background-color: #FB95C3;

  color: white;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: large;
}
.knap_produkt:hover {
  box-shadow: 0 2px 10px 0 #FFFAD3;
}
.knap_produkt:active {
  background-color: #AA0F56;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}
/* ************ main ************** */
@media (max-width: 670px) {
section img {
  width: 300px;
}
.container1 {
  text-align: center;
  gap: 20px;
}
.vare1_container {
  display: contents;
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.vare1_container img {
width: 100%;
height: auto;
}


.vare2_container {
  display: contents;
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.vare2_container img {
  width: 100%;
  height: auto;
  }
.vare3_container {
  display: contents;
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.vare3_container img {
  width: 100%;
  height: auto;
  }
.container2 {
    text-align: center;
    padding: 10px;
  }
.vare4_container {
  display: contents;
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
  gap: 20px;
}
.vare4_container img {
  width: 100%;
  height: auto;
  }
.vare5_container {
  display: contents;
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.vare5_container img {
  width: 100%;
  height: auto;
  }
}

@media (min-width: 670px) {

/* ********** containers *********** */
.container1 {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.vare1_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vare2_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vare3_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: center;
}
.container2 img {
  width: 278px;
}
.vare4_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vare5_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
}
