/* ************ main ************** */



@media (min-width: 500px) {

p {
    text-align: center;
    color: #AA0F56;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
section {
    margin: 150px;
    align-items: center;
}
.kurv_container {
    text-align: center;
}
/************ knap ***********/
.knap {
    border-radius: 51px;
    width: 168px;
    height: 65px;
    display: inline-block;
    cursor: pointer;
    background-color: #FB95C3;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: normal;
}
.knap:hover {
    box-shadow: 0 2px 10px 0 #FFFAD3;
  }
.knap:active {
    background-color: #AA0F56;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }
}